{% extends 'base_generic.html' %}

{% block navbar %}
<nav class="nav-menu d-none d-lg-block">
  <ul>

    <li><a class="nav-link" href="{% url 'index' %}">Inicio</a></li>
    <li><a class="nav-link" href="{% url 'recetas' %}">Recetas</a></li>

    {% if user.is_authenticated %}
    {% if user.is_staff %}<li><a href="{% url 'admin' %}">Admin</a></li>{% else %}{% endif %}
    <li class="book-a-table text-center"><a href="#">{{ user.username }}</a></li>
    <li><a href="{% url 'logout'%}?next={{request.path}}">Cerrar sesión</a></li>

    {% else %}
    <li class="book-a-table text-center active"><a href="{% url 'login' %}">Iniciar Sesion</a></li>
    <li><a href="{% url 'registro_usuarios' %}">Registro</a></li>

    {% endif %}

  </ul>
</nav><!-- .nav-menu -->
{% endblock %}

{% block content %}
<main id="main">
  <section>
    <div class="container">
      <br><br>
    </div>
  </section>

</main><!-- End #main -->

<div class="d-flex justify-content-center text-center">
  <form class="p-5" style="background-color:#cda45e" method="post">
    <h1 style="color:black ">Inicio de sesion</h1><br><br>
    {% csrf_token %}
    <table class="table">
      {{ form.as_table }}
    </table>
    <br><br>
    <button type="submit" class="btn btn-dark">Ingresar</button>
    <br><br><br>
    <h6 style="color:black">¿Aún no estas registrado?</h6>
    <p style="color: black;">Registrese <a style="color:brown;" href="{% url 'registro_usuarios' %}">aquí</a></p>
  </form>
</div><br><br>

{% endblock %}