{% extends 'base_generic.html' %}

{% block navbar %}
<nav class="nav-menu d-none d-lg-block">
  <ul>

    <li class="active"><a class="nav-link" href="{% url 'index' %}">Inicio</a></li>
    <li><a class="nav-link" href="{% url 'recetas' %}">Recetas</a></li>

    {% if user.is_authenticated %}
    {% if user.is_staff %}<li><a href="{% url 'admin' %}">Admin</a></li>{% else %}{% endif %}
    {% else %}{% endif %}

  </ul>
</nav><!-- .nav-menu -->
{% endblock %}

{% block content %}
<br><br><br><br><br><br>

<div class="section-title p-5">
    <h2>Administración</h2>
    <p>Lista de Recetas</p>
</div>
<div class="p-5 ">
    <table class="table table-hover" style="background-color: #cda45e;">
        <tr>
            <th>&nbsp;&nbsp;&nbsp;&nbsp; Titulo &nbsp;&nbsp;&nbsp;&nbsp; </th>
            <th></th>
            <th>Tipo &nbsp;&nbsp;&nbsp;&nbsp; </th>
            <th></th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Opciones</th>
        </tr>

        {% for r in recetas %}
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{r.titulo}}</td>
            <td></td>
            <td>{% for tipo in r.tipo.all %} {{ tipo }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
            {% if user.is_authenticated %}{% if user.is_staff %}
            <td> &nbsp;&nbsp;&nbsp;&nbsp; </td>
            <th>
                <a style="color: black;" href="{% url 'modificar_recetas' r.id %}">&nbsp;&nbsp;&nbsp;&nbsp;Modificar</a>
                <a style="color: black;" href="{% url 'eliminar_recetas' r.id %}">&nbsp;&nbsp;&nbsp;Eliminar</a>
            </th>
            {% else %}{% endif %}{% else %}{% endif %}
        </tr>
        {%endfor%}
    </table>
</div>

{% endblock %}